<!-- HTML forms, Twitter Bootstrap style:
    http://getbootstrap.com/2.3.2/base-css.html#forms -->
<form class="form-horizontal">
    <fieldset>
        <legend>{{board.title}}</legend>
        <div class="control-group">
            <label class="control-label" for="inputId">ID</label>
            <div class="controls">
                <input type="text" ng-readonly="1" ng-model="board.id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputTitle">Title</label>
            <div class="controls">
                <input type="text" ng-model="board.title">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSeats">Seats</label>
            <div class="controls">
                <input type="text" ng-model="board.seats">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputTermLength">Term length</label>
            <div class="controls">
                <input type="text" ng-model="board.term_length">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputAlternatingSeats">Alternating Seats</label>
            <div class="controls">
                <input type="text" ng-model="board.alternating_seats">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCityId">City ID</label>
            <div class="controls">
                <input type="text" ng-model="board.city_id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputStateId">State ID</label>
            <div class="controls">
                <input type="text" ng-model="board.state_id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCountyId">County ID</label>
            <div class="controls">
                <input type="text" ng-model="board.county_id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDepartmentId">Department ID</label>
            <div class="controls">
                <input type="text" ng-model="board.department_id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDuties">Duties</label>
            <div class="controls">
                <!-- haha oops http://plnkr.co/edit/K48oNo3IcIF1t6YYMmJp?p=preview -->
                <!-- thanks Freenode #angularjs @Foxandxss! -->
                <textarea ng-model="board.duties"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputMeetingCron">Meeting cron</label>
            <div class="controls">
                <input type="text" ng-model="board.meeting_cron">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputMeetingDates">Meeting dates</label>
            <div class="controls">
                <input type="text" ng-model="board.meeting_dates">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputMeetingPlace">Meeting place</label>
            <div class="controls">
                <input type="text" ng-model="board.meeting_place">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputMeetingTime">Meeting time</label>
            <div class="controls">
                <input type="text" ng-model="board.meeting_time">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputNextOpening">Next opening</label>
            <div class="controls">
                <input type="text" ng-model="board.next_opening">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputQualifications">Qualifications</label>
            <div class="controls">
                <textarea ng-model="board.qualifications"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputNextOpeningQualifications">Next opening qualifications</label>
            <div class="controls">
                <textarea ng-model="board.next_opening_qual"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputIsActive">Is active</label>
            <div class="controls">
                <input type="text" ng-readonly="1" ng-model="board.is_active">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCreatedAt">Created at</label>
            <div class="controls">
                <input type="text" ng-readonly="1" ng-model="board.created_at">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCreatedById">Created by ID</label>
            <div class="controls">
                <input type="text" ng-readonly="1" ng-model="board.created_by_id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUpdatedAt">Updated at</label>
            <div class="controls">
                <input type="text" ng-readonly="1" ng-model="board.updated_at">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUpdatedById">Updated by ID</label>
            <div class="controls">
                <input type="text" ng-readonly="1" ng-model="board.updated_by_id">
            </div>
        </div>
        <button type="submit" class="btn">Submit</button>
    </fieldset>
</form>

