<script src="scripts/api-localboards.js"></script>
<div id="loading">loading...</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="span10">
      <div class="boards" ng-repeat="board in boards | filter:query | orderBy:orderProp" class="thumbnail">
        <div class="row">
          <div class="span5">
            <h4><a href="#/boards/{{board.id}}">{{board.title}}</a></h4>
            <div class="seats">
              <b>{{board.seatLimit()}}</b> <small>SEATS</small>
            </div>
            <p>{{board.duties}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
