<!-- this page makes API calls, so include script -->
<script src="scripts/api-localboards.js"></script>

<h1>{{board.title}}</h1>
<br />
<br />
<label>Created at</label>
{{board.created_at}}
<br />
<label>Created by ID</label>
{{board.created_by_id}}
<div class="leftColumn">
  <div class="badge-container">
    <div class="row">
      <ul class="thumbnails list-unstyled">
        <li class="span3">
          <div class="thumbnail" style="padding: 0">
            <div style="padding:4px">
              <div class="colorbar blue"></div>
            </div>
            <div class="caption">
              <p>{{board.duties}}</p>
            </div>
            <div class="modal-footer" style="text-align: left">
              <div class="row-fluid">
                <div class="span4"><b>{{board.seats}}</b><br/><small>SEATS</small></div>
                <div class="span4"><b>{{board.seatsOpen}}</b><br/><small>SEATS<br />OPEN</small></div>
                <div class="span4">
                    <span ng-if="board.is_active">
                        <b>IS</b>
                    </span>
                    <span ng-if="! board.is_active">
                        <b>NOT</b>
                    </span>
                    <br />
                    <small>ACTIVE</small>
                </div>
              </div>
              <div ng-if="board.alternating_seats">
                ({{board.alternating_seats}} alternating seats)
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="rightColumn">
  <div class="orgInfo">
    <h3>Meeting Info</h3>
    <table class="paddedTable">
      <tbody>
        <tr ng-if="board.url.length">
          <td>URL:</td>
          <td><a href="{{board.url}}" target="_blank">Visit Website</a></td>
        </tr>
        <tr ng-if="board.meeting_dates.length">
          <td>Meeting Dates:</td>
          <td>{{board.meeting_dates}}</td>
        </tr>
        <tr ng-if="board.meeting_place.length">
          <td>Meeting Place:</td>
          <td>{{board.meeting_place}}</td>
        </tr>
        <tr ng-if="board.meeting_time.length">
          <td>Meeting Time:</td>
          <td>{{board.meeting_time}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="qualifications" ng-if="board.qualifications.length">
    <h3>Qualifications to Apply</h3>
    <span>{{board.qualifications}}</span>
  </div>
  <div class="openings" ng-if="board.openings.length">
    <h3>Upcoming Openings</h3>
    <table class="paddedTable">
      <theader>
        <tr>
          <th>Time</th>
          <th>Position</th>
        </tr>
      </theader>
      <tbody data-bind="foreach: openings()">
        <tr>
          <td data-bind="text: opening">N/A</td>
          <td data-bind="text: qualifications">N/A</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="members">
    <h3>Members</h3>
    <div ng-if="board.members.length" ng-repeat="member in board.members" >
      <div class="member">
        <span class="memberName">{{member.first_name}} {{member.last_name}}</span>
      </div>
    </div>
  </div>
</div>